.mat-card {
    display: inline-block;
    margin-bottom: 1%;
    width: 100%;
  }
  img {
    vertical-align: middle;
    max-width: 10%;
    border-radius: 4px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }