.img-only {
  border-radius: 4px;
  transition: transform .3s; 
}  
.hover-container{
  position: relative;
  overflow: hidden;
}
div{
  font-weight: 500;
}
span.img-only {
  display: none;
}
img.img-only {
  width: 100%;
}
span.list-item {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75%;
  text-align: center;
}

.list-item img{
  overflow: hidden;
  width: 25%;
}

@media(hover:none){
}  
@media(hover){
  /* When you mouse over the hover-container, fade in the overlay title */
  .hover-container:hover .overlay {
    opacity: 1;
    transition: 500ms ease-in-out;
  }
  .hover-container:hover img{
    transform: scale(1.15);
    transition: 600ms ease;
  }
  .img-only {
    vertical-align: middle;
    border-radius: 4px;
    /* width: 100%; */
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}