<div *ngIf="collection" class="centered">
  <div class="image">
    <app-teaser-image [data]="teaser"></app-teaser-image>
  </div>

  <mat-expansion-panel
    class="category"
    *ngFor="let section of collection.sections"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ section.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ section.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      *ngFor="let recipe of section.recipes"
      class="recepie-container"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ recipe.name }}
        </mat-panel-title>
        <mat-checkbox
          (click)="checkboxChanged($event, recipe.number)"
          color="primary"
          >hinzufügen</mat-checkbox
        >
      </mat-expansion-panel-header>
      <app-recepie [recipeNumber]="recipe.number"></app-recepie>
    </mat-expansion-panel>
  </mat-expansion-panel>

  <mat-expansion-panel class="category">
    <mat-expansion-panel-header>
      <mat-panel-title> Zusammenfassung </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>
      {{ selectedRecipes.length }} von {{ summary.recipeCount }} Rezepten
      ausgewählt
    </h3>
    <app-ingredients
      [ingredients]="summary.ingredients"
      [servings]="4"
      class="app-ingredients"
    ></app-ingredients>
  </mat-expansion-panel>
  <a href="/collection/edit/{{ collection.number }}">
    <button id="edit-button" mat-fab color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </a>
</div>
