.centered {
    text-align: center;
}
.mat-card{
    margin: 1%;
}
img{
    width: 90%;
}
p{
    text-align: left;
    width: 90%;
    margin-left: 5%;
}
.category{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.recepie-container{
    margin-bottom: 1%;
}
.mat-checkbox{
    margin-right: 1%;
}