<div class="centered">
  <h2>Rezept hinzufügen</h2>
  <p>
      <mat-form-field class="centered">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="recipe.name" matInput placeholder="z.B. Tomatensalat">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
  </p>
  <p>
    <mat-form-field class="centered">
        <mat-label>Kochzeit</mat-label>
        <input [(ngModel)]="recipe.cookingDuration" type="number" matInput placeholder="z.B. 15">
        <mat-hint>Minuten</mat-hint>
      </mat-form-field>
  </p>
  <p>
  <mat-form-field class="centered">
    <mat-label>Wartezeit</mat-label>
    <input [(ngModel)]="recipe.restDuration" type="number" matInput placeholder="z.B. 15">
    <mat-hint>Minuten</mat-hint>
  </mat-form-field>
  </p>
  <p>
    <mat-form-field class="centered">
      <mat-label>Portionen</mat-label>
      <input [(ngModel)]="recipe.servings" type="number"matInput placeholder="z.B. 4">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <h3>Zutaten</h3>
  <div class="centered">
    <p  *ngFor="let ingredient of recipe.ingredients; let i = index">
      <mat-form-field id="ingredient">
        <mat-label>Zutat</mat-label>
        <input [(ngModel)]="ingredient.name" matInput placeholder="z.B. Tomate">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field id="quantity">
        <mat-label>Menge</mat-label>
        <input [(ngModel)]="ingredient.quantity" type="number" matInput placeholder="z.B. 1">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field id="unit">
        <mat-label>Einheit</mat-label>
        <mat-select [(ngModel)]="ingredient.unit">
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="removeIngredient(i)" class="red">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </p>
  </div>
  
  <p class="center_button">
    <button mat-button (click)="addIngredient()" class="green">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </p>
  <h3>Anleitung</h3>
  <p  *ngFor="let instruction of instructions; let i = index">
    <mat-form-field id="instruction">
      <mat-label>Schritt</mat-label>
      <textarea [(ngModel)]="instructions[i].value" matInput placeholder="z.B. Gemüse schneiden"></textarea>
      <mat-hint *ngIf="i===0">für die Übersicht lohnt es sich meistens das Rezept in mehrere Scritte zu teilen</mat-hint>
    </mat-form-field>
    <button mat-button (click)="removeInctruction(i)" class="red">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </p>
  <p>
  <button mat-button (click)="addInstruction()" class="green">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  </p>
  <p>
    <mat-checkbox [checked]="isSesonal" color="primary" (change)="onCheckboxChange($event.checked)">Saisonal</mat-checkbox>
  </p>
  <p *ngIf="isSesonal">
    <mat-button-toggle-group #season="matButtonToggleGroup" multiple="true" (change)="onSesonChanged(season.value)">
      <mat-button-toggle value="1">Jan</mat-button-toggle>
      <mat-button-toggle value="2">Feb</mat-button-toggle>
      <mat-button-toggle value="3">Mär</mat-button-toggle>
      <mat-button-toggle value="4">Apr</mat-button-toggle>
      <mat-button-toggle value="5">Mai</mat-button-toggle>
      <mat-button-toggle value="6">Jun</mat-button-toggle>
      <mat-button-toggle value="7">Jul</mat-button-toggle>
      <mat-button-toggle value="8">Aug</mat-button-toggle>
      <mat-button-toggle value="9">Sep</mat-button-toggle>
      <mat-button-toggle value="10">Okt</mat-button-toggle>
      <mat-button-toggle value="11">Nov</mat-button-toggle>
      <mat-button-toggle value="12">Dez</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <h3>Tags</h3>
  <mat-form-field>
    <mat-chip-list>
      <mat-chip color="primary" *ngFor="let tag of tags" (click)="addTag(tag)">{{tag.name}}</mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <p class=" centered narrow">
  <mat-chip-list>
    <mat-chip selected *ngFor="let tag of selectedTags" [removable]="true" (removed)="removeTag(tag)">{{tag.name}} 
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    </mat-chip-list>  
  </p>
  <h3>Bild hochladen
  </h3>

  <input type="file" (change)="fileChangeEvent($event)" *ngIf="!this.recipe.imageUri"/>

  <div style="display: flex; ">
    <image-cropper 
    *ngIf="!this.recipe.imageUri"
    [imageChangedEvent]="imageChangedEvent" 
    [maintainAspectRatio]="true" 
    [aspectRatio]="4 / 4"
    format="jpg" 
    (imageCropped)="imageCropped($event)" 
    style="flex-grow: 1; min-width: 20em;"></image-cropper>
    <img id="image" [src]="croppedImage" style="max-width:20em; max-height: 20em;" />
  </div>
  <button (click)="uploadImage()" *ngIf="!this.recipe.imageUri" mat-button>Upload</button>

    <p>
      <button mat-button id="save-button" (click)="saveRecipe()">
        Rezept Speichern
      </button>
    </p>
</div>