.red{
    color: darkred;
}
.green{
    color: green;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    min-width: 90%;
}
p{
    text-align: center;
}
.center_button{
    text-align: center;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered.narrow{
    width: 90%;
}
.mat-form-field {
    width: 80%;
  }
.mat-form-field.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ingredient{
    width: 40%;
}
#quantity{
    width: 15%; 
    margin-left: 2%;
}
#unit{
    width: 16%; 
    margin-left: 2%;
}
.mat-button{
    width: 5%;
}
#instruction{
    width: 75%;
}