.mat-card {
  display: inline-block;
  margin: 1%;
  width: 45%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .mat-card {
    display: inline-block;
    margin: 1%;
  }
}
.image:hover {
  transform: scale(1.08);
  transition: transform 0.3s;
}
