.centered {
    align-self: center;
}
.recepie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
}
img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recepie-instruction{
    margin-left: 5%;
    max-width: 90%;
}

