<div *ngIf="recepie" class="centered"> 
    <h1 >{{recepie.name}}</h1>
    <img src={{recepie.imageUri}}>
    <div style="text-align: center;">
        <span style="margin-right: 1%;">Kochzeit {{recepie.cookingDuration}} min</span>
        <span>Wartezeit {{recepie.restDuration}} min</span>
    </div>    
    <div style="text-align: center;">
    <mat-chip-list>
        <mat-chip style="margin-top: 4%;" color="primary" selected *ngFor="let tag of recepie.tags">{{tag.name}}</mat-chip>
    </mat-chip-list>
    </div>
    <div class="recepie">
        <app-ingredients [ingredients]="recepie.ingredients" [servings]="recepie.servings" class="app-ingredients"></app-ingredients>
        <span class="growing">
            <p *ngFor="let instruction of recepie.instructions">
                {{instruction}}
            </p>
        </span>
    </div>
 </div>

