mat-form-field {
    width: 100%;
  }
.left{
    text-align: left;
}
.left.bold{
    font-weight: bold;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#search-field{
    width: calc(100% - 70px)
}
.span{
    width: 100%;
}