mat-form-field {
    width: 100%;
  }
.left{
    text-align: left;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#search-field{
    width: calc(100% - 70px)
}
.view-buttons{
    position: absolute;
    right: 5%;
}
.results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
@media screen and (max-width: 500px){
    .results{
        grid-template-columns: 100%;
    }
}
@media screen and (min-width: 1000px){
    .results{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}