<div class="centered">
  <h3>Suche:</h3>

  <mat-form-field>
    <mat-label>Name oder Zutat</mat-label>
    <input
      #nameInput
      matInput
      [(ngModel)]="searchName"
      (keyup.enter)="onTextSearch()"
      (keyup)="autoComplete()"
      [matAutocomplete]="auto"
    />
    <button matSuffix mat-button>
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of autoCompleteSugestions"
        [value]="option"
        (click)="direcktlyOpen(option)"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h3>Filter:</h3>

  <app-tag-selection (tagsChanged)="onTagsChanged($event)"></app-tag-selection>

  <p class="view-buttons">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="previewClass"
      value="{{ previewClass === 'img-only' ? 'imageOnlyView' : 'normalView' }}"
    >
      <mat-button-toggle color="primary" value="img-only">
        <mat-icon>view_comfy</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle color="primary" value="list-view">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <h3>Rezepte:</h3>

  <p class="{{ previewClass === 'img-only' ? 'grid' : '' }}">
    <a
      *ngFor="let recipe of recepies"
      href="/recipe/{{ recipe.number }}"
      target="_blank"
    >
      <div style="height: calc(100% - 1rem)">
        <app-recipe-prewiew-tile
          *ngIf="previewClass === 'img-only'"
          [data]="recipe"
        ></app-recipe-prewiew-tile>

        <app-recepie-preview-listitem
          *ngIf="previewClass !== 'img-only'"
          [data]="recipe"
        ></app-recepie-preview-listitem>
      </div>
    </a>
  </p>
</div>
