<div class="centered"> 
    <h3>Suche:</h3>

        <mat-form-field>
            <mat-label>Name oder Zutat</mat-label>
            <input #nameInput matInput [(ngModel)]="searchName" (keyup.enter)="nameChanged(nameInput.value)">
            <button matSuffix  mat-button (click)="nameChanged(nameInput.value)">
                <mat-icon>search</mat-icon>
            </button> 
          </mat-form-field>   

    <h3>Filter:</h3>

    <div *ngFor="let category of tagCategorys, let  i = index;">
        <span> {{tagCategorys[i][0].category.name + ":"}} </span>
        <mat-form-field>
        <mat-chip-list #tags>
            <mat-chip color="primary" *ngFor="let tag of tagCategorys[i]" (click)="onTagClick($event, tag)">{{tag.name}}</mat-chip>
        </mat-chip-list>
        </mat-form-field>
    </div>
    
    <p class="view-buttons">
        <button mat-button (click)="imageOnlyView=true">
            <mat-icon>view_comfy</mat-icon>
        </button> 
        <button mat-button (click)="imageOnlyView=false">
            <mat-icon>list</mat-icon>
        </button> 
    </p>

    <h3>Rezepte:</h3>

    <mat-chip-list #chipList>
        <mat-chip selected *ngFor="let tag of selected" [removable]="true" (removed)="remove(tag)">{{tag.name}} 
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>  
    
     <p class="left" infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
        <app-recepie-preview *ngFor="let recepie of recepies" [data]="recepie" [imageOnly]="imageOnlyView"></app-recepie-preview>
     </p>
</div>
