.centered {
    align-self: center;
    width: 90%;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
mat-form-field {
    width: 100%;
  }
.left{
    text-align: left;
}
.left.bold{
    font-weight: bold;
}