<mat-toolbar color="primary" style="display: flex; justify-content: space-between; flex-direction: row;">
    <a routerLink = "/" style="color:inherit; text-decoration: none;">Superkoch</a>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput>
        <button mat-button>
            <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>    
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/add-recepie']">
        Rezept Hinzufügen
    </button>
</mat-menu>