<mat-toolbar color="primary" style="display: flex; justify-content: space-between; flex-direction: row;">
    <a routerLink = "/" style="color:inherit; text-decoration: none;">Superkoch</a>
    <span>
        <mat-form-field>
            <mat-label>Rezept suchen</mat-label>
            <input matInput [(ngModel)]="searchName" (keyup.enter)="goToSearch()">
          </mat-form-field>    
        <button mat-button (click)="goToSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/add-recepie']">
        Rezept hinzufügen
    </button>
</mat-menu>