.red{
    color: darkred;
}
.green{
    color: green;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.centered.narrow {
    width: 90%;
  }
.mat-form-field {
    width: 90%;
  }
.mat-form-field.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-button{
    width: 5%;
}
#ingredient{
    width: 50%;
}
#quantity{
    width: 15%; 
    margin-left: 2%;
}
#unit{
    width: 16%; 
    margin-left: 2%;
}
#instruction{
    width: 85%;
}
.mat-button-toggle-checked {
    background-color: #74C365;
}
.mat-button-toggle-group{
    justify-content: center;
    flex-wrap: wrap;
}
#save-button{
    width: auto;
}
.previev-img{
    width: 30%;
}
#delete-image-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}