.list-item {
  position: relative;
  text-align: left;
}

.list-item-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75%;
  text-align: center;
  font-weight: 500;
}

img {
  overflow: hidden;
  width: 25%;
}

@media only screen and (min-width: 600px) {
  img {
    width: 12%;
  }
}
